BETTER_AUTH_SECRET=

# Cron job verification
CRON_SECRET=

DATABASE_URL=

DATAGOV_API_KEY=

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

# OneMap API
ONEMAP_EMAIL=
ONEMAP_EMAIL_PASSWORD=

# URA Data Service API
URA_ACCESS_KEY=
